.header {
  align-items: center;
  display: flex;
}

.header-logo {
  color: green;
  font-family: fantasy;
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
}

.header-logo:hover {
  color: white;
  background-color: green;
  text-decoration: none;
}

.header-nav {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.header-button {
  width: 144px;
  margin-left: 10px;
}
